body {
  background: linear-gradient(to top, red, yellow);
}

/*.box{
   height: 200px;
   width: 200px;
   position: absolute;
   border: solid black 1px;
   background-image: url('octogon-01.png');
   background-size: cover;
   background-repeat: no-repeat;
}*/

/*.bdyframe0{
   top: 25px;
   left: 34px;
   position: absolute;
}*/



.spinmv{
   animation: spinprss 1.2s /*infinite*/ linear;
}

@keyframes spinprss{
   0%{
   transform: rotate(0deg);
   }
   100%{
   transform: rotate(360deg);
   }
}

/*.infinite{
   height: 75px;
   width: 100%;
   position: relative;
   float: left;
}*/

.gray{
   background: #ccc;
   position: absolute;
   height: 1.5px;
}

.violet{
   background: #9E005D;
   position: absolute;
   height: 3.5px;
}

.i1{
   width: 69px;
   left: 41px;
   top: 75px;
   transform: rotate(45deg);
}

.i2{
   width: 69px;
   left: 66.80px;
   top: 65px;
   transform: rotate(-90deg);
}

.i3{
   width: 69px;
   left: 91px;
   top: 75px;
   transform: rotate(-45deg);
}

.i4{
   width: 69px;
   left: 100px;
   top: 99.8px;
   transform: rotate(00deg);
}

.i5{
   width: 69px;
   left: 90px;
   top: 123.8px;
   transform: rotate(45deg);
}

.i6{
   width: 69px;
   left: 66.98px;
   top: 133px;
   transform: rotate(-90deg);
}

.period{
   width: 10px;
   left: 96.98px;
   top: 163px;
   transform: rotate(-90deg);
}

.exclamation{
   width: 34.5px;
   left: 83.98px;
   top: 115px;
   transform: rotate(-90deg);
}

.i7{
   width: 69px;
   left: 41.98px;
   top: 124px;
   transform: rotate(-45deg);
}

.i8{
   width: 69px;
   left: 32.5px;
   top: 99.8px;
   transform: rotate(00deg);
}

.i9{
   width: 125px;
   left: 14px;
   top: 109.8px;
   transform: rotate(67.25deg);
}

.i10{
   width: 126px;
   left: 62.6px;
   top: 109.8px;
   transform: rotate(-67.5deg);
}

.e1{
   width: 54px;
   left: 49px;
   top: 41px;
   transform: rotate(-22deg);
}

.e2{
   width: 53px;
   left: 99px;
   top: 41px;
   transform: rotate(22deg);
}

.e3{
   width: 53px;
   left: 132.9px;
   top: 75px;
   transform: rotate(68deg);
}

.e4{
   width: 53px;
   left: 132.6px;
   top: 124px;
   transform: rotate(-67deg);
}

.e5{
   width: 52px;
   left: 99px;
   top: 158.5px;
   transform: rotate(-23deg);
}

.e6{
   width: 53px;
   left: 50px;
   top: 158.2px;
   transform: rotate(22.9deg);
}

.e7{
   width: 52px;
   left: 16.996px;
   top: 124px;
   transform: rotate(68deg);
}

.e8{
   width: 53px;
   left: 15.9px;
   top: 75px;
   transform: rotate(-69deg);
}

/*all control*/
.shells{
   position: relative;
   width: 170px;
   height: 160px;
   float: left;
   transform-origin: center;
}

.bdscale{
   position: absolute;
   top: -21px;
   left: -19px;
}

/*all control*/

.octogon1{
   
   
}


.a{
   display: none;
   opacity: 1;
   
}
.shellsa:hover .aa{
	opacity: 1;
}
.aa{
   opacity: 0;
   transition: all 0.2s;
}



.b{
   display: none;

}

.shellsb:hover .ba{
	opacity: 1;
}
.ba{
   opacity: 0;
   transition: all 0.2s;
}


.c{
   display: none;
   opacity: 1;
   
}
.shellsc:hover .ca{
	opacity: 1;
}
.ca{
   opacity: 0;
   transition: all 0.2s;
}

.d{
   display: none;
   opacity: 1;
   
}
.shellsd:hover .da{
	opacity: 1;
}
.da{
   opacity: 0;
   transition: all 0.2s;
}

.e{
   display: none;
   opacity: 1;
   
}
.shellse:hover .ea{
	opacity: 1;
}
.ea{
   opacity: 0;
   transition: all 0.2s;
}

.f{
   display: none;
   opacity: 1;
   
}
.shellsf:hover .fa{
	opacity: 1;
}
.fa{
   opacity: 0;
   transition: all 0.2s;
}

.g{
   display: none;
   opacity: 1;
   
}
.shellsg:hover .ga{
	opacity: 1;
}
.ga{
   opacity: 0;
   transition: all 0.2s;
}

.h{
   display: none;
   opacity: 1;
   
}
.shellsh:hover .ha{
	opacity: 1;
}
.ha{
   opacity: 0;
   transition: all 0.2s;
}

.i{
   display: none;
   opacity: 1;
}
.shellsi:hover .ia{
	opacity: 1;
}
.ia{
   opacity: 0;
   transition: all 0.2s;
}

.j{
   display: none;
   opacity: 1;
}
.shellsj:hover .ja{
	opacity: 1;
}
.ja{
   opacity: 0;
   transition: all 0.2s;
}

.k{
   display: none;
   opacity: 1;
}
.shellsk:hover .ka{
	opacity: 1;
}
.ka{
   opacity: 0;
   transition: all 0.2s;
}

.l{
   display: none;
   opacity: 1;
}
.shellsl:hover .la{
	opacity: 1;
}
.la{
   opacity: 0;
   transition: all 0.2s;
}
.m{
   display: none;
   opacity: 1;
}
.shellsm:hover .ma{
	opacity: 1;
}
.ma{
   opacity: 0;
   transition: all 0.2s;
}

.n{
   display: none;
   opacity: 1;
}
.shellsn:hover .na{
	opacity: 1;
}
.na{
   opacity: 0;
   transition: all 0.2s;
}

.o{
   display: none;
   opacity: 1;
}
.shellso:hover .oa{
	opacity: 1;
}
.oa{
   opacity: 0;
   transition: all 0.2s;
}

.p{
   display: none;
   opacity: 1;
}
.shellsp:hover .pa{
	opacity: 1;
}
.pa{
   opacity: 0;
   transition: all 0.2s;
}
.q{
   display: none;
   opacity: 1;
}
.shellsq:hover .qa{
	opacity: 1;
}
.qa{
   opacity: 0;
   transition: all 0.2s;
}
.r{
   display: none;
   opacity: 1;
}
.shellsr:hover .ra{
	opacity: 1;
}
.ra{
   opacity: 0;
   transition: all 0.2s;
}
.s{
   display: none;
   opacity: 1;
}
.shellss:hover .sa{
	opacity: 1;
}
.sa{
   opacity: 0;
   transition: all 0.2s;
}
.t{
   display: none;
   opacity: 1;
}
.shellst:hover .ta{
	opacity: 1;
}
.ta{
   opacity: 0;
   transition: all 0.2s;
}
.u{
   display: none;
   opacity: 1;
}
.shellsu:hover .ua{
	opacity: 1;
}
.ua{
   opacity: 0;
   transition: all 0.2s;
}
.v{
   display: none;
   opacity: 1;
}
.shellsv:hover .va{
	opacity: 1;
}
.va{
   opacity: 0;
   transition: all 0.2s;
}
.w{
   display: none;
   opacity: 1;
}
.shellsw:hover .wa{
	opacity: 1;
}
.wa{
   opacity: 0;
   transition: all 0.2s;
}
.x{
   display: none;
   opacity: 1;
}
.shellsx:hover .xa{
	opacity: 1;
}
.xa{
   opacity: 0;
   transition: all 0.2s;
}
.y{
   display: none;
   opacity: 1;
}
.shellsy:hover .ya{
	opacity: 1;
}
.ya{
   opacity: 0;
   transition: all 0.2s;
}
.z{
   display: none;
   opacity: 1;
}
.shellsz:hover .za{
	opacity: 1;
}
.za{
   opacity: 0;
   transition: all 0.2s;
}
.zero{
   display: none;
   opacity: 1;
}
.shellszero:hover .zeroa{
	opacity: 1;
}
.zeroa{
   opacity: 0;
   transition: all 0.2s;
}
.one{
display: none;
}
.two{
display: none;
}
.three{
display: none;
}
.four{
display: none;
}
.five{
display: none;
}
.six{
display: none;
}
.seven{
display: none;
}
.eight{
display: none;
}
.nine{
display: none;
}
.question{
display: none;
}
.exclamation{
display: none;
}
.comma{
display: none;
}
.quote{
display: none;
}
.quote1{
display: none;
}
.period{
display: none;   
}
